﻿@using testAppForRc.Models.Domain
@model User

@{
    ViewBag.Title = "Информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробная информация</h2>

<div>
    <h4>Пользователь @Model.LastName @Model.FirstName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Почта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Пароль
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Возраст
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
    
    @if (Model.Events != null)
    {
        <br>
        <table class="table" id="tableTimePast" onclick="sortTable(id, 1, true, true)">
            <tr>
                <th>События</th>
                <th style="display:none;">Время</th>
            </tr>

            @foreach (var item in Model.Events)
            {
                if(item.EvetDate < DateTime.Now)
                {
                    <tr style="background-color: #f2f2f2">
                        <td>
                            @item.Name — @item.EvetDate.ToString("HH:mm, dd MMM yyyy") 
                        </td>
                        <td style="display:none;">
                            @item.EvetDate.ToString("HH:mm, dd MMM yyyy")
                        </td>
                    </tr>
                }
            }

        </table>


        <table class="table" id="tableTimeFuture" onclick="sortTable(id, 1, true, false)">
            <tr>
                <th style="display:none;">События</th>
                <th style="display:none;">Время</th>
            </tr>

            @foreach (var item in Model.Events)
            {
                if (item.EvetDate >= DateTime.Now)
                {
                    <tr>
                        <td>
                            @item.Name — @item.EvetDate.ToString("HH:mm, dd MMM yyyy")
                        </td>
                        <td style="display:none;">
                            @item.EvetDate.ToString("HH:mm, dd MMM yyyy")
                        </td>
                    </tr>
                }
            }

        </table>
    }

</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("К списку", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Common/sortTable.js")
    @Scripts.Render("~/Scripts/Common/InitClick.js")

}