﻿@using testAppForRc.Models.View.UserViewModels
@model IndexUserViewModel

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пользователи</h2>

<p>
    @Html.ActionLink("Создать нового", "Create")
</p>
<table class="table" id="grid" onclick="sortTable(id, 1, false, false)">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountEvent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Events.Count)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Common/sortTable.js")
    @Scripts.Render("~/Scripts/Common/InitClick.js")

}