﻿@using testAppForRc.Models.View.EventViewModels
@model CreateEventViewModel

@{
    ViewBag.Title = "Создать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создать</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Событие</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                @Html.LabelFor(model => model.EvetDateString, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EvetDateString, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control", id = "datetimepicker" , type = "text",
                       StringFormat = "{HH:mm, dd-MM-yyyy}"
                   }
               })

                    @Html.ValidationMessageFor(model => model.EvetDateString, "", new {@class = "text-danger"})
                
                </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" id="test">
                <table>
                    <tr>
                    @{
                        int cnt = 0;
                        List<AssignedUserData> users = ViewBag.Users;

                        if (users != null)
                        {
                            foreach (var user in users)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                <input type="checkbox"
                                       name="selectedUsers"
                                       value="@user.UserId"
                                       @(Html.Raw(user.Assigned ? "checked=\"checked\"" : "")) />
                                @:  @user.FullName
                                @:</td>
                            }
                        }
                        
                        @:</tr>
                    }
                </table>
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" onclick="validate()"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("К списку", "Index")
</div>

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Common/InitFocus.js")
    @Scripts.Render("~/Scripts/Common/CheckBoxVal.js")
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>

    
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/DatePickerReady.js"></script>
    

}



