﻿@model testAppForRc.Models.Domain.Event

@{
    ViewBag.Title = "Информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробная информация</h2>

<div>
    <h4>Событие</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvetDate)
        </dt>

        <dd>
            @Model.EvetDate.ToString("HH:mm, dd MMM yyyy")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("К списку", "Index")
</p>
