﻿@using testAppForRc.Models.View.EventViewModels
@model IndexEventViewModel

@{
    ViewBag.Title = "События";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>События</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table" id="gridEvent" onclick="sortTable(id, 1, true, false)">
    <tr>
        <th>
            Название
        </th>
        <th>
            Время
        </th>
        <th>
            Место проведения
        </th>
        <th>
            Кол-во участников
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Events)
{
    if (item.EvetDate > DateTime.Now)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.EvetDate.ToString("HH:mm, dd MMM yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Count)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id=item.EventId }) |
                @Html.ActionLink("Подробно", "Details", new { id=item.EventId }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.EventId })
            </td>
        </tr>
    }
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Common/sortTable.js")
    @Scripts.Render("~/Scripts/Common/InitClick.js")

}